@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

#home {
  position: relative;
  background: url("../public/assets/bgIMG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width : 383px){
  #home {
    width: min-content;
  }
}

@media screen and (max-width : 383px){
  #work {
    margin-right: -5rem;
  }
}

.overlay_circle {
  background: url("../public/assets/header_background.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#app__header__circles1 {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
}

#app__header__circles2 {
  margin: 1.75rem;
  width: 150px;
  height: 150px;
}

#app__header__circles3{
  width: 70px;
  height: 70px;
  margin: 0.5rem;
}

@media screen and (max-width: 640px) {
  .app__header__circles{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .app__header__circles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* work */

.app__work_item:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

/* navbar */
.Navbar__menu__motion{
  background-image: url("../public/assets/bgWhite.png");
}

/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
} */
